@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.ck-content {
    height: 200px !important;
}

.login-box {
    min-width: 250px;
}

.error {
    color: red;
}

label {
    width: 100%;
    font-size: smaller;
    padding-top: 10px;
    padding-left: 5px;
}